html,
body {
  height: 100%;
  width: 100%;
}

body.lock {
  overflow: hidden;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--fnt-clr);
  position: relative;
  background-color: var(--bg-clr);
  backdrop-filter: blur(10px);
}

.wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 auto;
}

.container {
  padding: 0 8px;
  max-width: 92%;
}

@media (min-width: 2048px) {
  .container {
    max-width: 2048px;
  }
}
