:root {
  --fnt-clr: #fff;
  --bg-clr: #080808;
  --hdr-btn-bdr-clr: #ff0000;
  --hdr-btn-bg-clr: none;
  --hdr-btn-fnt-clr: #fff;
  --hdr-btn-bdr-clr-hvr: #170055;
  --hdr-btn-bg-clr-hvr: #ce0505;
  --hdr-btn-fnt-clr-hvr: #000;
}
