<header class="header">
  <div class="header__inside container">
    <a class="header__intro" href="./index.html">
      <div class="header__logo">
        <img src="/img/logo.svg" alt="" class="header__logo-item" />
      </div>
      <h1 class="header__title">MCDP</h1>
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item">
          <a
            href="https://steady-beignet-63d8ae.netlify.app/#"
            class="header__list-link"
            >Main</a
          >
        </li>
        <li class="header__list-item">
          <a href="#" class="header__list-link">About</a>
        </li>
        <li class="header__list-item">
          <a
            href="https://t.me/Bakerman111"
            target="_blank"
            class="header__list-link"
            >Donate</a
          >
        </li>
        <li class="header__list-item">
          <a href="#" class="header__list-link">Socials</a>
        </li>
        <li class="header__list-item header__list-item_last">
          <div class="header__personal-area">
            <button class="header__button header__button_header">
              Sign in/Sign up
            </button>
          </div>
        </li>
      </ul>
    </nav>

    <div class="header__burger">
      <span></span>
    </div>
  </div>
</header>
