<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <div class="wrapper">
      <%- include('./partials/nav.ejs')%>
      <div class="main">
        <div
          class="main__inside"
          style="
            height: 100% !important;
            align-items: center !important;
            margin-top: 100px;
            justify-content: center !important;
          "
        >
          <h1 class="error" style="text-align: center">error 404</h1>
        </div>
      </div>
    </div>
  </body>
</html>
